:root {
  --color-fontColor: #000;
  --color-bgColor: #fff;
  --color-subColor: #e6e6e6;
  --color-primaryColor: #f66b0e;
}

html,
body,
.root {
  width: 100%;
  font-size: 62.5%;
  background-color: var(--color-bgColor);

  @media screen and (max-width: 1280px) {
    font-size: 56.3%;
  }

  @media screen and (max-width: 1024px) {
    font-size: 50%;
  }

  @media screen and (max-width: 768px) {
    font-size: 43.8%;
  }

  @media screen and (max-width: 480px) {
    font-size: 37.5%;
  }

  @media screen and (max-width: 400px) {
    font-size: 31.2%;
  }

  @media screen and (max-width: 300px) {
    font-size: 18.6%;
  }
}

* {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}
