html,
body {
}

* {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

#Root {
  width: 100%;
}

/* Todos-Form */

.Todos-Form {
  margin: 20px 100px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  border: 1px solid #e9ecef;
  border-radius: 5px;
}

.Todos-Form > h1 {
  font-size: 20px;
  font-size: medium;
}

.Todos-Form > input {
  margin: 10px 0;
  padding: 7.5px;
  border: 1px solid #e9ecef;
  outline: none;
  border-radius: 5px;
}

.Todos-Form > button {
  width: 75px;
  height: 35px;
  border-radius: 5px;
  outline: none;
  border: none;
  background: #316cf4;
  color: #fff;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.Todos-Form > button:hover {
  opacity: 0.8;
}

/* Todos-List */

.Todos-List {
  margin: 20px 100px;
  border: 1px solid #e9ecef;
  border-radius: 5px;
}

.Todos-List > li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px;
}

.Todos-List > li + li {
  border: 1px solid #e9ecef;
}

.Todos-List > li > div > span {
  padding-left: 10px;
}

.Todos-List > li > button {
  width: 75px;
  height: 35px;
  border-radius: 5px;
  outline: none;
  border: none;
  background: #fa5252;
  color: #fff;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.Todos-List > li > button:hover {
  opacity: 0.8;
}
